<a href="https://colab.research.google.com/github/Ankitasin123/codeclause_datascience/blob/main/project2_market_basket_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project 2 :- Market Basket Analysis in Python using Apriori Algorithm

In [1]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.8/dist-packages (1.1.2)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
market_basket = pd.read_csv("market basket analysis.csv",encoding = 'latin1')
market_basket

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
431618,573665,21791,VINTAGE HEADS AND TAILS CARD GAME,8.0,31-10-2011 16:24,1.25,13982.0,United Kingdom
431619,573665,22667,RECIPE BOX RETROSPOT,3.0,31-10-2011 16:24,2.95,13982.0,United Kingdom
431620,573665,21121,SET/10 RED POLKADOT PARTY CANDLES,8.0,31-10-2011 16:24,1.25,13982.0,United Kingdom
431621,573665,21888,BINGO SET,4.0,31-10-2011 16:24,3.75,13982.0,United Kingdom
431622,573665,22111,SC,NaN,NaN,NaN,NaN,NaN

In [4]:
market_basket.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [5]:
market_basket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431623 entries, 0 to 431622
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    431623 non-null  object
 1   StockCode    431623 non-null  object
 2   Description  430259 non-null  object
 3   Quantity     431622 non-null  float64
 4   InvoiceDate  431622 non-null  object
 5   UnitPrice    431622 non-null  float64
 6   CustomerID   323524 non-null  float64
 7   Country      431622 non-null  object
dtypes: float64(3), object(5)
memory usage: 26.3+ MB

Data cleansing

In [6]:
market_basket['Description'] = market_basket['Description'].str.strip()
market_basket.dropna(axis=0 ,subset = ['InvoiceNo'] , inplace=True)
market_basket['InvoiceNo' ] = market_basket['InvoiceNo'].astype('str')
market_basket = market_basket[~ market_basket['InvoiceNo'].str.contains('C')]

In [7]:
market_basket.shape

(423771, 8)

In [8]:
market_basket.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [9]:
market_basket.describe()

            Quantity      UnitPrice     CustomerID
count  423770.000000  423770.000000  316029.000000
mean       10.361765       3.886566   15279.551437
std       125.975758      44.968958    1712.193932
min     -9600.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13911.000000
50%         4.000000       2.080000   15144.000000
75%        12.000000       4.130000   16779.000000
max     74215.000000   13541.330000   18287.000000

In [10]:
market_basket['Country'].value_counts()

United Kingdom          386187
Germany                   7630
France                    6539
EIRE                      6491
Spain                     2116
Netherlands               2052
Switzerland               1742
Belgium                   1694
Portugal                  1255
Australia                 1142
Norway                     816
Channel Islands            670
Finland                    598
Italy                      574
Cyprus                     514
Unspecified                393
Sweden                     374
Austria                    321
Israel                     295
Japan                      289
Denmark                    286
Hong Kong                  283
Poland                     259
Singapore                  222
Iceland                    171
Canada                     151
USA                        147
Greece                     109
Malta                      100
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

In [11]:
market_basket.shape

(423771, 8)

In [12]:
basket = (market_basket[market_basket['Country'] =="EIRE"]     
          .groupby(['InvoiceNo', 'Description'])['Quantity'] 
          .sum().unstack().reset_index().fillna(0) 
          .set_index('InvoiceNo'))

In [13]:
basket.head()

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE SKULLS,...,ZINC BOX SIGN HOME,ZINC FOLKART SLEIGH BELLS,ZINC HEART FLOWER T-LIGHT HOLDER,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC SWEETHEART WIRE LETTER RACK,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC WILLIE WINKIE CANDLE STICK,ZINC WIRE KITCHEN ORGANISER
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536541,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

convert positive value as 1 and negative value as 0

In [14]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units)

In [15]:
basket.shape

(236, 1854)

In [16]:
basket_sets.head()

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE SKULLS,...,ZINC BOX SIGN HOME,ZINC FOLKART SLEIGH BELLS,ZINC HEART FLOWER T-LIGHT HOLDER,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC SWEETHEART WIRE LETTER RACK,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC WILLIE WINKIE CANDLE STICK,ZINC WIRE KITCHEN ORGANISER
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536540,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536803,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536885,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536890,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

 Frequent item sets that have a support of at least 7%

In [17]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

Generate the rules with their corresponding support, confidence and lift.

In [18]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [19]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.088983,0.114407,0.080508,0.904762,7.908289,0.070328,9.298729
1,(GREEN REGENCY TEACUP AND SAUCER),(PINK REGENCY TEACUP AND SAUCER),0.114407,0.088983,0.080508,0.703704,7.908289,0.070328,3.074682
2,(REGENCY CAKESTAND 3 TIER),(GREEN REGENCY TEACUP AND SAUCER),0.258475,0.114407,0.080508,0.311475,2.722526,0.050937,1.286219
3,(GREEN REGENCY TEACUP AND SAUCER),(REGENCY CAKESTAND 3 TIER),0.114407,0.258475,0.080508,0.703704,2.722526,0.050937,2.502648
4,(ROSES REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.161017,0.114407,0.101695,0.631579,5.520468,0.083273,2.403753

In [20]:
rules[(rules['lift'] >= 6) &
       (rules['confidence'] >= 0.7)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.088983,0.114407,0.080508,0.904762,7.908289,0.070328,9.298729
1,(GREEN REGENCY TEACUP AND SAUCER),(PINK REGENCY TEACUP AND SAUCER),0.114407,0.088983,0.080508,0.703704,7.908289,0.070328,3.074682
18,(REGENCY TEA PLATE ROSES),(REGENCY TEA PLATE GREEN),0.093220,0.084746,0.072034,0.772727,9.118182,0.064134,4.027119
19,(REGENCY TEA PLATE GREEN),(REGENCY TEA PLATE ROSES),0.084746,0.093220,0.072034,0.850000,9.118182,0.064134,6.045198
20,"(ROSES REGENCY TEACUP AND SAUCER, PINK REGENCY...",(GREEN REGENCY TEACUP AND SAUCER),0.084746,0.114407,0.076271,0.900000,7.866667,0.066576,8.855932
21,"(ROSES REGENCY TEACUP AND SAUCER, GREEN REGENC...",(PINK REGENCY TEACUP AND SAUCER),0.101695,0.088983,0.076271,0.750000,8.428571,0.067222,3.644068
24,(PINK REGENCY TEACUP AND SAUCER),"(ROSES REGENCY TEACUP AND SAUCER, GREEN REGENC...",0.088983,0.101695,0.076271,0.857143,8.428571,0.067222,6.288136
26,"(REGENCY CAKESTAND 3 TIER, ROSES REGENCY TEACU...",(GREEN REGENCY TEACUP AND SAUCER),0.105932,0.114407,0.080508,0.760000,6.642963,0.068389,3.689972
27,"(REGENCY CAKESTAND 3 TIER, GREEN REGENCY TEACU...",(ROSES REGENCY TEACUP AND SAUCER),0.080508,0.161017,0.080508,1.000000,6.210526,0.067545,inf
31,(GREEN REGENCY TEACUP AND SAUCER),"(REGENCY CAKESTAND 3 TIER, ROSES REGENCY TEACU...",0.114407,0.105932,0.080508,0.703704,6.642963,0.068389,3.017479

#Conclusion : -

From the market basket analysis, it is found that customers who buy PINK REGENCY TEACUP AND SAUCER tend to buy GREEN REGENCY TEACUP AND SAUCER.